<% if :user_signed_in? #if the user is not signed in, render this %>
    <style>
        html{
            height:100%;
        }
        body{
            height:100%;
            background:linear-gradient(
            rgba(0,0,0,0.3),
            rgba(0,0,0,0.7)
            ),url("/bg.jpg") no-repeat center center fixed; /* only display once, center horizontal and vertical, dont let scroll change position */
                            
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o background-size: cover;
        }
        h1{
            color:white;
            font-weight:bold;
        }
        .container-index{
            margin-right:15%;
            margin-left:15%;
            
        }
        .text{
            color:white;
            font-weight:300;
            font-size:150%;
        }
        .footer-links{
            color:white;
            text-align:center;
            margin-top:10%;
        }
        .log-in{
            float:right;
            width:300px;
            height:150px;
            margin-top:7.5%;
        }
        .sign-up{
            float:right;
            width:300px;
            height:250px;
        }
    </style>
    
    <div class="container-index row">
        <div class="col-sm-6">
            <h1>
                Welcome to Sonar
            </h1>
            <p class="text">
                Connect with your lads, <br />
                meet with friends, post messages <br />
                and follow the boys.
            </p>
        </div>
        <div class="col-sm-6">
            <div class="log-in panel">
                Log In
            </div>    
            <div class="sign-up panel">
                Sign Up
            </div>  
        </div>
        
        <div class="col-sm-12">
            <p class="footer-links">
                About. Help. Blog. Status. Jobs. Terms. Privacy. Cookies. Ads. Info. © 2016 Sonar
            </p>
        </div>
        
        
        
    </div>
<% else #if the user is signed in, render this %>
Signed in
<% end %>